.home-hero {
  background: $black;
  &__image {
    max-width: 500px;
    margin: 0 auto;
  }
}
.featured-testimonial-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/images/bkgrnd-wave-fullwidth-final.jpg");
}
.center-underline {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: block;
  background-color: $medOrange;
  height: 6px;
  width: 14rem;
  margin: 3rem 0;
}
